<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center">Change Password</h2>
            <form [formGroup] = "changePasswordForm" (ngSubmit) = onSubmit()>
                <!-- Password Field -->
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="phide ? 'password' : 'text'" placeholder="Enter Here" formControlName="password">
                    <button type="button" mat-icon-button matSuffix (click)="phide = !phide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="phide">
                        <mat-icon>{{phide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf ="changePasswordForm.get('password')?.hasError('required') && changePasswordForm.get('password')?.touched">Password is required</mat-error>
                </mat-form-field>

                <!--Confirm Password Field -->
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter Here" formControlName="confirmPassword">
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf ="changePasswordForm.get('confirmPassword')?.hasError('required') && changePasswordForm.get('confirmPassword')?.touched">Confirm Password is required</mat-error>
                </mat-form-field>
                <mat-error *ngIf ="!changePasswordForm.get('confirmPassword')?.hasError('required') && changePasswordForm.get('confirmPassword')?.touched && changePasswordForm.errors?.['passwordNotMatch']">Confirm Password is not matched with Password</mat-error>

                <div class="d-flex justify-content-center">
                    <button type="submit" mat-raised-button color="primary" [disabled]="!changePasswordForm.valid">Change Password</button>
                    <button type="reset" mat-raised-button color="accent" class="ms-2">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>
