<div class="container">
    <ng-template [ngIf]="categories && categories.length>0">
        <h1 class="text-center">All Categories</h1>
        <div *ngFor="let category of categories">
            <div class="card mt-3">
                <div class="card-body">
                    <div class="main">
                        <div class="left">
                            <h1 class="card-title">{{category.categoryTitle}}</h1>
                            <p class="card-text">{{category.categoryDescription}}</p>
                        </div>
                        <div class="right">
                            <button mat-icon-button color="accent" (click)="updateCategory(category)">
                                <mat-icon>open_in_new</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="deleteCategory(category)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div> 
    </ng-template>
    <div *ngIf="categories && categories.length==0">
        <h1 class="text-center">No Category Found.</h1>
    </div>

    <div class="d-flex justify-content-center mt-5">
        <button type="submit" mat-raised-button color="primary" (click)="addCategory()">Add Category</button>
    </div>
    
       
</div>
