<div class="container">
    <div class="mt-5">
        <h1 *ngIf="isFormSubmitted" class="text-center">Forgot Password</h1>
    </div>
    <div *ngIf="isFormSubmitted">
        <form [formGroup] = "forgotPasswordForm" (ngSubmit) = onSubmit()>
            <div class="row mt-5">
                <div class="col-md-6 offset-md-3">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Enter Your Registerd Email Id</mat-label>
                        <input matInput placeholder="Enter Here" formControlName = "emailId">
                        <mat-error *ngIf ="forgotPasswordForm.get('emailId')?.hasError('required') && forgotPasswordForm.get('emailId')?.touched">Email Id required</mat-error>
                        <mat-error *ngIf ="forgotPasswordForm.get('emailId')?.hasError('email') && forgotPasswordForm.get('emailId')?.touched">Email is not valid</mat-error>
                    </mat-form-field>
                </div>
            </div>
            
            <div class="d-flex justify-content-center mt-3">
                <button type="submit" mat-raised-button color="primary" class="ms-3" [disabled]="!forgotPasswordForm.valid">Submit</button>
                <button mat-raised-button color="warn" class="ms-3">cancle</button>
            </div>
        </form> 
    </div>
    <h3 *ngIf="!isFormSubmitted">{{message}}</h3>
      
</div>
