.center{
    display:flex;
    justify-content: center;
    align-items: center;
}

.dropdown-section {
    opacity: 0.75;
    font-size: 0.75em;
  }

  .example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }