.post-image{
    display: block;
    width: 95%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    
}

.badgeButton {
    cursor: pointer;
}

.right {
    float: right;
    text-align: center;
}

.link {
    color: blue;
    text-decoration: underline !important;
    cursor: pointer;
}
.thumb-icon {
    color: blue;
}