<div class="container">
    <ng-template [ngIf]="posts && posts.content.length>0">
        <h1 class="text-center">All Posts</h1>
        <div class="d-flex justify-content-end">
            <button type="submit" mat-raised-button color="primary" (click)="createPost()" class="ms-5">Create Post</button>
        </div>
        
        <div *ngFor="let post of posts.content">
            <div class="card mt-3">
                <div class="card-body">
                    <div class="main">
                        <div class="left">
                            <h1 class="card-title">{{post.postTitle}}</h1>
                            <p [innerHTML]="(post.postContent.length>50)? (post.postContent | slice:0:50)+'...':(post.postContent)"></p>
                            <button mat-raised-button color="primary"(click)="readMore(post)" class="ms-2">Read More</button>
                        </div>
                        <ng-template [ngIf] = "isAdmin">
                            <div class="right">
                                <span class="badge" [ngClass] = "post.status=='APPROVED'? 'bg-success' : post.status=='PENDING' ?'bg-warning':'bg-danger'">{{post.status}} </span>
                                <button mat-icon-button color="accent" (click)="updatePost(post)">
                                    <mat-icon>open_in_new</mat-icon>
                                </button>
                                <button [disabled]="post.status=='DELETED'" mat-icon-button color="warn" (click)="deletePost(post)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </ng-template>    
                    </div>
                    
                </div>
            </div>
        </div> 
        <div class="d-flex justify-content-center mt-4">
            <nav *ngIf="posts && posts.content.length > 0" aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" [ngClass]="posts.isFirst?'disabled':'' ">
                        <a class="page-link" (click)="onPageChange(posts.pageNumber-1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo; Previous</span>
                        </a>
                    </li>
                    <li *ngFor="let page of [].constructor(posts.totalPages); index as i" class="page-item">
                        <a class="page-link" (click)="onPageChange(i)">{{i+1}}</a>
                    </li>
                    <li class="page-item" [ngClass]="posts.isLast?'disabled':'' ">
                        <a class="page-link" (click)="onPageChange(posts.pageNumber+1)" aria-label="Next">
                            <span aria-hidden="true">Next &raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </ng-template>
    <div *ngIf="posts && posts.content.length==0">
        <h1 class="text-center">No Post Found.</h1>
    </div>
   
</div>

