<mat-card class="sidebar-card">
  <mat-action-list>
    <!-- Sidebar Header -->
    <div mat-subheader class="sidebar-header">Menu</div>
  
    <!-- Home Button -->
    <button mat-list-item routerLink="/admin" class="sidebar-item" routerLinkActive="sidebar-item active" [routerLinkActiveOptions]="{exact: true}">
      <mat-icon mat-list-icon>home</mat-icon>
      <span class="sidebar-item-text">Home</span>
    </button>
  
    <!-- Profile Button -->
    <button mat-list-item  class="sidebar-item"  [class.active]="isProfileActive()" (click)="goToProfilePage()" routerLinkActive="sidebar-item active">
      <mat-icon mat-list-icon>account_circle</mat-icon>
      <span class="sidebar-item-text">Profile</span>
    </button>
  
    <!-- Users Button -->
    <button mat-list-item routerLink="/admin/user-list" class="sidebar-item" routerLinkActive="sidebar-item active">
      <mat-icon mat-list-icon>perm_identity</mat-icon>
      <span class="sidebar-item-text">Users</span>
    </button>
  
    <!-- Category Button -->
    <button mat-list-item routerLink="/admin/categories" class="sidebar-item" routerLinkActive="sidebar-item active">
      <mat-icon mat-list-icon>work_outline</mat-icon>
      <span class="sidebar-item-text">Category</span>
    </button>
  
    <!-- Post Button -->
    <button mat-list-item routerLink="/admin/posts" class="sidebar-item" routerLinkActive="sidebar-item active">
      <mat-icon mat-list-icon>receipt</mat-icon>
      <span class="sidebar-item-text">Post</span>
    </button>

    <!-- Contact Messages Button -->
    <button mat-list-item routerLink="/admin/contact-messages" class="sidebar-item" routerLinkActive="sidebar-item active">
      <mat-icon mat-list-icon>mail_outline</mat-icon>
      <span class="sidebar-item-text">Contact Messages</span>
    </button>
  </mat-action-list>
</mat-card>
  